 @tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F3F2FF;
  scroll-behavior: smooth 4s;
}

* {
  box-sizing: border-box;
}

.sidebar {
  width: 200px;
  margin-left: 100px;
  position: relative;
  top: 300px;
}


.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #337ab7;
}

.sidebar a:hover {
  color: #23527c;
}
/*
.navbar {
  background-color: #f3f2ff;
  padding: 1em;
  display: flex;
  align-items: center;
  font-size: 21px;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
}
.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: indigo;
  text-decoration: none;
}

.home {
  font-weight: 700;
  font-size: 0.9em;
}

.admission,
.placement,
.about,
.contact {
  font-size: 0.9em;
}

.navbar svg {
  position: sticky;
  left: 25px;
  height: 40px;
  width: 104px;
}

.wave img {
  width: 1515px;
  height: 1100px;
  transform: scaleY(0.79);
  transform: scaleX(0.3, 1);
  transform-origin: left;
  margin-top: -92px;
}

.flex-banner{
  position: absolute;
  width: 30%;
  height: 300px;
  display: flex;
  gap: 5px;
  top: 120px;
  right: 200px;
  z-index: 1;
}

.flex-banner img{
  width: 10%;
  height: 120%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #27066F;
  transition: all ease 0.3s;
}

.flex-banner img:hover{
  width: 100%;
}

.flex-banner img.big{
  width: 60%;
}


.welcome {
  position: absolute;
  width: 490px;
  height: 418px;
  left: 157.86px;
  top: 130px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #27066f;
  
}

.subwelcome {
  position: absolute;
  width: 380px;
  height: 418px;
  left: 157.86px;
  top: 250px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #27066f;
}


.psychology {
  position: absolute;
  width: 90px;
  height: 90px;
  left: -372px;
  top: 360px;
  transform: scale(1);
  background: url(/home/psychology.svg);
}


.activities {
  position: relative;
  width: 150px;
  height: 150px;
  bottom: 540px;
  left: 290px;
  z-index: 1;
  transform: scale(0.9);
}

.rec1 {
  border: 2px white solid;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  margin-left: -30px;
  margin-top: 16px;
}

.rec1 h5 {
  text-align: center;
  color: white;
  padding: 3px;
  font-size: 18px;
}

.virtual-tour {
  position: relative;
  width: 150px;
  height: 150px;
  bottom: 683px;
  left: 690px;
  z-index: 1;
  transform: scale(0.81);
}

.rec2 {
  border: 2px white solid;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  margin-left: -30px;
  margin-top: 16px;
}

.rec2 h5 {
  text-align: center;
  color: white;
  padding: 3px;
  font-size: 18px;
}

.alumnis {
  position: relative;
  width: 150px;
  height: 150px;
  bottom: 836px;
  left: 1090px;
  z-index: 1;
  transform: scale(0.83);
}

.rec3 {
  border: 2px white solid;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  margin-left: -30px;
  margin-top: 16px;
}

.rec3 h5 {
  text-align: center;
  color: white;
  padding: 3px;
  font-size: 18px;
}

.section-2 {
  position: relative;
  bottom: 0px;
  top: -70px;
}

.section-2 .news {
  height: 585px;
  width: 505px;
  border: 2px;
  background: #d8d1ff;
  margin-top: -440px;
  margin-left: 180px;
  border-radius: 33px;
}

.section-2 .chairman {
  height: 235px;
  width: 550px;
  border: 2px;
  background: #d8d1ff;
  margin-top: -580px;
  margin-left: 720px;
  border-radius: 33px;
}

.chairman h4 {
  position: absolute;
  width: 256px;
  height: 40px;
  left: 737px;
  top: 22px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #27066f;
}

.chairman h1 {
  position: absolute;
  width: 564px;
  height: 215px;
  left: 735px;
  top: 55px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  color: #27066f;
}

.chairman p {
  position: absolute;
  width: 494px;
  height: 215px;
  left: 735px;
  top: 96px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #27066f;
}

.chairman img {
  position: relative;
  left: 370px;
  bottom: 60px;
}

.section-2 .principal {
  height: 235px;
  width: 550px;
  border: 2px;
  background: #d8d1ff;
  margin-top: 108px;
  margin-left: 720px;
  border-radius: 33px;
}

.principal h4 {
  position: absolute;
  width: 202px;
  height: 40px;
  left: 737px;
  top: 360px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #27066f;
}

.principal h1 {
  position: absolute;
  width: 564px;
  height: 215px;
  left: 735px;
  top: 399px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  color: #27066f;
}

.principal p {
  position: absolute;
  width: 494px;
  height: 215px;
  left: 735px;
  top: 443px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #27066f;
}

.principal img {
  position: relative;
  left: 370px;
  bottom: 80px;
}

.news h1 {
  position: absolute;
  width: 390px;
  height: 65.52px;
  left: 230px;
  top: 30px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 45px;
  text-align: center;
  color: #27066f;
}

.date1 {
  position: relative;
  top: 80px;
  width: 700px;
  height: 28px;
  margin-left: 60px;
}

.date1 img {
  position: absolute;
  top: 24px;
}

.date1 h3 {
  position: absolute;
  width: 323.01px;
  height: 54.45px;
  left: 53px;
  top: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 41px;
  color: #000000;
}

.date1 .line1 {
  position: relative;
  top: 90px;
  right: 20px;
  transform: scaleX(0.7);
}

.date1 p {
  position: relative;
  width: 359.18px;
  height: 39.98px;
  left: 52px;
  top: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

.date2 {
  position: relative;
  top: 205px;
  width: 700px;
  height: 28px;
  margin-left: 60px;
}

.date2 img {
  position: absolute;
  top: 24px;
}

.date2 h3 {
  position: absolute;
  width: 323.01px;
  height: 54.45px;
  left: 53px;
  top: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 41px;
  color: #000000;
}

.date2 p {
  position: relative;
  width: 359.18px;
  height: 39.98px;
  left: 52px;
  top: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

.date2 .line2 {
  position: relative;
  top: 90px;
  right: 20px;
  transform: scaleX(0.7);
}

.date3 {
  position: relative;
  top: 335px;
  width: 700px;
  height: 28px;
  margin-left: 60px;
}

.date3 h3 {
  position: absolute;
  width: 323.01px;
  height: 54.45px;
  left: 53px;
  top: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 41px;
  color: #000000;
}

.date3 img {
  position: absolute;
  top: 24px;
}

.date3 p {
  position: relative;
  width: 359.18px;
  height: 39.98px;
  left: 52px;
  top: 80px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

.date3 .line3 {
  position: relative;
  top: 90px;
  right: 20px;
  transform: scaleX(0.7);
}

.vw-1{
  width: 100px;
  background-color: #EAE6FF;
  color: #27066F;
  font-weight: 600;
  border-radius: 3px;
  margin-top: 460px;
  margin-left: 105px;
}



.card {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 250px;
  padding-top: 5px;
  gap: 0 24px
}

.card-item {
  position: relative;
  font-size: 22px;
  width: 320px;
  height: 200px;
  background-color: #ffb224;
  margin: 10px;
  border-radius: 30px;
  padding-right: 190px;
  padding-top: 35px;
  color: #fffaeb;
  font-weight: 900;
  font-family: "Outfit";
  font-style: normal;
}



.card-item:nth-child(-n + 3) .gia-btn {
  bottom: 25px;
}

.card-item:nth-child(-n + 3) .sfi-btn {
  bottom: 25px;
}

.card-item:nth-child(4) .gia-btn {
  bottom: 25px;
}

.card-item:nth-child(5) .gia-btn {
  bottom: 25px;
  visibility: hidden;
}

.card-item:nth-child(6) .gia-btn {
}

.card-item:nth-child(4) .sfi-btn {
  bottom: 25px;
}

.card-item:nth-child(5) .sfi-btn {
  bottom: 25px;
  margin-left: -32px;
}

.card-item:nth-child(6) .sfi-bt {
  bottom: 25px;
}

.card-item:nth-child(7) .gia-btn {
  bottom: 25px;
  visibility: hidden;
}

.card-item:nth-child(7) .sfi-btn {
  bottom: 25px;
  margin-left: -32px;
}

.card-item:nth-child(8) .gia-btn {
  bottom: 25px;
}

.card-item:nth-child(8) .sfi-btn {
  bottom: 25px;
}

.card-item span {
  font-size: 26px;
  text-align: left;
  display: inline-block;
  width: 200px;
  margin-left: 30px;
  line-height: 30px;
}

.department-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.gia-btn {
  position: absolute;
  font-size: 20px;
  width: 80px;
  height: 40px;
  border: solid white;
  border-radius: 6px;
  margin-top: 65px;
  left: 30px;
}

.sfi-btn {
  position: absolute;
  font-size: 20px;
  width: 80px;
  height: 40px;
  border: solid white;
  border-radius: 6px;
  margin-left: 60px;
  margin-top: 65px;
}

.card-item img {
  position: absolute;
  width: 80px;
  height: 70px;
  bottom: 130px;
  left: 235px;
}

.course-svg.computer {
  top: 128px;
  margin-left: 10px;
}

.course-svg.electrical {
  top: 50px;
  margin-left: 8px;
}

.course-svg.electronic-and-communication {
  top: 133px;
  margin-left: 10px;
  height: 65px;
}

.course-svg.information-technology {
  top: 129px;
  margin-left: 9px;
}

.course-svg.mechanical {
  top: 60px;
  margin-left: 8px;
}

.course-svg.mechatronics {
  top: 128px;
  margin-left: 8px;
}

.course-svg.science-and-humanities {
  top: 80px;
}

.c-circle1 {
  position: absolute;
  width: 320px;
  height: 320px;
  background-color: #eae6ff;
  border-radius: 200px;
  right: 100px;
}

.c-circle2 {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: #eae6ff;
  border-radius: 200px;
  right: 50px;
  top: 500px;
}

.c-circle3 {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #eae6ff;
  border-radius: 200px;
  right: 550px;
  top: 460px;
}

.c-circle4 {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #eae6ff;
  border-radius: 200px;
  margin-left: 140px;
  top: 460px;
}

.deptDataRec {
  position: relative;
  width: 250px;
  height: 40px;
  background-color: #d8d1ff;
  border-radius: 38px 38px 0px 0px;
  left: 690px;
  top: 30px;
}




.container1 {
  position: absolute;
  width: 100%;
  max-width: 1600px;
  margin-top: 540vh;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #EAE6FF;
  padding: 50px 20px;
  box-sizing: border-box;
}

.overlay .footer-section {
  max-width: 180px;
  margin-left: 50px;
  margin-top: 65px;
  margin-bottom: 50px;
}

.overlay .footer-section h3 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.overlay .footer-section p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.overlay .social-icons {
  display: flex;
  gap: 25px;
  font-size: 25px;
}

.social-icons img {
  width: 20px;
  height: 40px;
  display: inline-block;
  background-size: cover;
  color: white ;
}

.contact{
  margin-left: -50px;
}

.footer-bottom {
  width: 100%;
  font-size: 12px;
}

.footer-bottom a {
  color: #EAE6FF;
  text-decoration: none;
  margin: 0 10px;
  text-align: left; 
  margin-left: 50px;
  margin-top: 40px;
}

.footer-bottom p {
  color: #EAE6FF;
  text-decoration: none;
  margin: 0 10px;
  text-align: center;
  font-size: 12px;
}

.footer-section-follow {
  margin-right: 100px;
  margin-top: 30px;
  font-weight: 500;
}

.footer-section-follow h3{
  font-size: 17px;
}


.svgContainer {
  position: relative;
  width: 100%;
  max-width: 800px; 
  margin-left: 400px;
  bottom: 1000px;
}

svg {
  position: relative;
  width: 100%;
  height: auto;
}

.rand {
  position: absolute;
  color: #000; 
  font-size: 16px; 
}

.text2 {
  top: -1040px;
  left: 180px; 
  color: white;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
}

.text3 {
  top: -790px; 
  left: 510px; 
  color: white;
  font-weight: bolder;
  font-size: 30px;
  position: absolute;
}

.text4 {
  top: -550px; 
  left: 180px; 
  color: white;
  font-weight: bolder;
  font-size: 30px;
  position: absolute;
}

.text5 {
  top: -300px; 
  left: 500px; 
  color: white;
  font-weight: bolder;
  font-size: 25px;
  position: absolute;
}

a {
  text-decoration: none;
}

.icon {
  position: absolute;
  width: 150px; 
  height: 150px;
}

.icon1 { top: 20px; left: 620px; }
.icon2 { top: 260px; left: -10px; }
.icon3 { top: 530px; left: 700px; }
.icon4 { top: 780px; left: -10px; }
.icon5 { top: 0px; left: 150px; width: 50px;}
.icon6 { top: 250px; left: 620px; width: 50px;}
.icon7 { top: 500px; left: 150px; width: 50px;}
.icon8 { top: 745px; left: 620px; width: 50px;}


  .container {
  position: relative;
  width: 700px;
  height: 900px;
  bottom: 1700px;
}


.content {
  position: relative;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #27066F;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 260px;
  margin-top: -1100px;
}


.vision, .mission {
  background: #d8d1ff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 50px;
  border-radius: 15px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-weight: 700;
}

p, ul {
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 500;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.vision {
  height: 250px;
}  

p{
  margin-left: 20px;
}

 */


 .gia-btn {
  position: absolute;
  font-size: 20px;
  width: 80px;
  height: 40px;
  border: solid white;
  border-radius: 6px;
  margin-top: 95px;
  left: 30px;
}

.sfi-btn {
  position: absolute;
  font-size: 20px;
  width: 80px;
  height: 40px;
  border: solid white;
  border-radius: 6px;
  left: 120px;
  margin-top: 95px;
}

 .card-item:nth-child(-n + 3) .gia-btn {
  bottom: 25px;
}

.card-item:nth-child(-n + 3) .sfi-btn {
  bottom: 25px;
}
/* 
.card-item:nth-child(-n+6) .gia-btn {
} */
