@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.navbar {
  background-color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  font-size: 21px;
  top: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  justify-content: center;
}
.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: indigo;
  text-decoration: none;
}

.home {
  font-weight: bold;
}

.admission,
.placement,
.about,
.contact {
  font-size: 0.9em;
}

.navbar svg {
  position: sticky;
  left: 25px;
  /* top: 25px; */
  height: 40px;
  width: 104px;
}

.wave {
  width: 1440.27px;
  height: 785.64px;
}

.wave svg {
  width: 1515px;
  height: 1100px;
  transform: scaleY(0.69);
  transform: scaleX(0.3,1);
  transform-origin: left;
  margin-top: -102px;    
  /*edit above line for wave changes  */

}

.aloo {
  position: absolute;
  left: 970px;
  top: 110px;
  z-index: 1;
}

.welcome {
  position: absolute;
  width: 490px;
  height: 418px;
  left: 157.86px;
  top: 130px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #27066f;
}

.subwelcome {
  position: absolute;
  width: 380px;
  height: 418px;
  left: 157.86px;
  top: 250px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #27066f;
}

.ellipse1 {
  width: 15px;
  height: 15px;
  background: #e2f3fc;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  margin-left: 128px;
  margin-top: 0px;
  bottom: 60px;
  position: absolute;
}

.ellipse2 {
  width: 15px;
  height: 15px;
  background: #e2f3fc;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  margin-left: 117px;
  margin-top: 0px;
  bottom: 30px;
  position: absolute;
}

.ellipse3 {
  width: 15px;
  height: 15px;
  background: #1aabdd;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  margin-left: 400px;
  top: 10px;
  position: absolute;
}

.ellipse4 {
  width: 15px;
  height: 15px;
  background: #fde6f2;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  margin-left: 750px;
  top: 390px;
  position: absolute;
}

.ellipse5 {
  width: 15px;
  height: 15px;
  background: #f53f91;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  left: -250px;
  bottom: 30px;
  position: absolute;
}

.ellipse6 {
  width: 115px;
  height: 115px;
  background: #f53f91;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 100px;
  left: -390px;
  bottom: -110px;
  position: absolute;
}

.psychology {
  position: absolute;
  width: 90px;
  height: 90px;
  left: -372px;
  top: 360px;
  transform: scale(1);
  background: url(/home/psychology.svg);
}

.tabletframe {
  width: 350px;
  height: 353px;
  position: absolute;
  left: 850px;
  transform: rotate(6deg);
  z-index: 1;
  top: 28px;
  /* background: url(/home/tablet.svg); */
}

.tabletframe-scaled {
  transform: scale(0.67);
  margin-top: 0px;
}

.rectangle {
  position: absolute;
  height: 65px;
  width: 20px;
  left: 181.5%;
  right: 2.57%;
  top: 442px;
  background: #e2f3fc;
  transform: rotate(18.32deg);
}

.activities {
  position: relative;
  width: 150px;
  height: 150px;
  top: -306px;
  left: 190px;
  z-index: 1;
  position: relative;
  transform: scale(0.9);
}

.rec1 {
  border: 2px white solid;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  margin-left: -30px;
}

.rec1 h5 {
  text-align: center;
  color: white;
  padding: 3px;
  font-size: 18px;
}

.virtual-tour {
  position: relative;
  width: 150px;
  height: 150px;
  top: -458px;
  left: 690px;
  z-index: 1;
  transform: scale(0.81);
}

.rec2 {
  border: 2px white solid;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  margin-left: -30px;
  margin-top: 5px;
}

.rec2 h5 {
  text-align: center;
  color: white;
  padding: 3px;
  font-size: 18px;
}

.alumnis {
  position: relative;
  width: 150px;
  height: 150px;
  top: -610px;
  left: 1190px;
  z-index: 1;
  transform: scale(0.83);
}

.rec3 {
  border: 2px white solid;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  margin-left: -30px;
  margin-top: 5px;
}

.rec3 h5 {
  text-align: center;
  color: white;
  padding: 3px;
  font-size: 18px;
}

.section-2 {
  position: relative;
  top: 20px;
}

.section-2 .news {
  height: 585px;
  width: 505px;
  border: 2px;
  background: #d8d1ff;
  margin-top: -440px;
  margin-left: 180px;
  border-radius: 33px;
}

.section-2 .chairman {
  height: 235px;
  width: 550px;
  border: 2px;
  background: #d8d1ff;
  margin-top: -580px;
  margin-left: 720px;
  border-radius: 33px;
}

.chairman h4 {
  position: absolute;
  width: 256px;
  height: 40px;
  left: 737px;
  top: 22px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #27066f;
}

.chairman h1 {
position: absolute;
width: 564px;
height: 215px;
left: 735px;
top: 55px;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 40px;
color: #27066F;
}

.chairman p {
position: absolute;
width: 494px;
height: 215px;
left: 735px;
top: 96px;
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #27066F;
}

.chairman img {
  position: relative;
  left: 370px;
  bottom: 60px;
}

.section-2 .principal {
  height: 235px;
  width: 550px;
  border: 2px;
  background: #d8d1ff;
  margin-top: 108px;
  margin-left: 720px;
  border-radius: 33px;
}

.principal h4{
position: absolute;
width: 202px;
height: 40px;
left: 737px;
top: 360px;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #27066f;
}

.principal h1{
position: absolute;
width: 564px;
height: 215px;
left: 735px;
top: 399px;
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 40px;
color: #27066F;
}

.principal p{
position: absolute;
width: 494px;
height: 215px;
left: 735px;
top: 443px;
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #27066F; 
}

.principal img {
  position: relative;
  left: 370px;
  bottom: 80px;
}

.news h1{
position: absolute;
width: 390px;
height: 65.52px;
left: 230px;
top: 30px;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 45px;
text-align: center;
color: #27066F;
}

.date1{
  position: relative;
  top: 80px;
  width: 700px;
  height: 28px;
  margin-left: 60px;
}

.date1 img{
  position: absolute;
  top: 24px;
}

.date1 h3{
position: absolute;
width: 323.01px;
height: 54.45px;
left: 53px;
top: 20px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 41px;
color: #000000;
}

.date1 .line1{
  position: relative;
  top: 100px;
  right: 20px;
  transform: scaleX(0.7);
}

.date1 p{
position: relative;
width: 359.18px;
height: 39.98px;
left: 52px;
top: 80px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;
color: #000000;
}

.date2{
  position: relative;
  top: 210px;
  width: 700px;
  height: 28px;
  margin-left: 60px;
}

.date2 img{
  position: absolute;
  top: 24px;
}

.date2 h3{
  position: absolute;
  width: 323.01px;
  height: 54.45px;
  left: 53px;
  top: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 41px;
  color: #000000;
}

.date2 p{
  position: relative;
  width: 359.18px;
  height: 39.98px;
  left: 52px;
  top: 80px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

.date2 .line2{
  position: relative;
  top: 100px;
  right: 20px;
  transform: scaleX(0.7);
}

.date3{
  position: relative;
  top: 340px;
  width: 700px;
  height: 28px;
  margin-left: 60px;
}

.date3 h3{
  position: absolute;
  width: 323.01px;
  height: 54.45px;
  left: 53px;
  top: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 41px;
  color: #000000;
}

.date3 img{
  position: absolute;
  top: 24px;
}

.date3 p{
  position: relative;
  width: 359.18px;
  height: 39.98px;
  left: 52px;
  top: 80px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

.date3 .line3{
  position: relative;
  top: 100px;
  right: 20px;
  transform: scaleX(0.7);
}